@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-[#f6f6f6] dark:bg-[#171717];
  @apply text-[#686868] dark:text-[#ababab];
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply border-b border-[#d8d8d8] bg-[#ededed]/95 dark:border-white/10 dark:bg-[#202020]/95;
  @apply backdrop-blur-sm saturate-200;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply max-w-[65ch] font-reading text-[1.125rem] leading-[1.75] prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-sans prose-headings:font-semibold prose-headings:leading-tight;
  @apply prose-p:text-[#686868] dark:prose-p:text-[#ababab];
  @apply prose-headings:text-[#303030] prose-headings:dark:text-white;
  @apply prose-pre:rounded-lg prose-pre:border prose-pre:border-black/10 dark:prose-pre:border-white/15;
  @apply prose-blockquote:border-primary-600;
}

@layer utilities {
  article a {
    @apply font-sans text-current underline underline-offset-2;
    @apply decoration-primary-600/70;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-primary-700;
    @apply decoration-primary-700/90;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}
